/* Main.css is used for all styling not related to bootstrap. */

/* 
 * FONT OBTAINED FROM GOOGLE FONTS LIBRARY (https://www.google.com/fonts)
 * Woff file downloaded from http://themes.googleusercontent.com/static/fonts/germaniaone/v2/3_6AyUql_-FbDi1e68jHdHhCUOGz7vYGh680lGh-uXM.woff
 */
@font-face {
    font-family: "Germania One";
    src: url("/fonts/germania-one.woff") format('woff');
}

/* Default color is cyber grape */
html, body {
	color:#58427C;
}

/* Center text */
.tc {
	text-align: center;
}

/* Center an object */
.ce {
 	display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Footer div*/
.footer {
	padding-top:30px;
	min-height: 175px;
}

/* Body div */
.body {
	min-height:400px;
	margin-top:53px;
	padding-top: 75px;
	padding-bottom: 75px;
}

/* Display gap with hr */
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 2px solid #EEE;
}

/* Cyber-Grape colored button */
.btn-cg {
	color: #FFF !important;
	background-color: #58427C !important;
}
.btn-cg:hover {
	color: #FFF !important;
	text-shadow:0 0 1px #FFF !important;
}

/* Big button */
.mega-btn {
	font-size: 18px;
	padding: 10px 20px;
}

/* Display brand name in large font*/
.brand-name {
	font-size: 36px;
	font-family: "Germania One"
}

/* Header of a section on a page */
.section-header {
	font-size:28px;
	font-style: italic;
	font-weight: bold;
}

/* Italisize */
.role {
	font-style: italic;
}

/* Adding 150px padding to left side */
.left-padding-150 {
	padding-left:150px;
}

/* Body of pages*/
.body {
	margin-top:53px; 
	width:100%;
	background-color: #DDD;
	padding-top:75px;
	padding-bottom:75px;
	min-height: 500px;
}

/* Center div of login / signup pages */
.login-center-div{
    text-align: left;
    background: #FFF;
    border: 1px solid #BBB;
    padding: 40px;
    margin: 0 auto;
    width: 35%;
    color: #58427C;
}

/* Center div of home page */
.body-center-div {
    background: #FFF;
    border: 1px solid #BBB;
    padding: 40px;
    margin: 0 auto;
    width: 70%;
    margin-top: -25px;
    margin-bottom: -25px;
    text-align: left;
}

/* Input box on login / signup page */
.login-input {
	font-size: 20px;
	padding: 10px;
	display: block;
	margin: 20px auto;
	width: 95%;
	min-height: 55px;
}
.login-input:focus, .discussion-question:focus {
	border: 2px solid #58427C;
	outline: none;
}

.loadingDiv {
	margin-top: 10px;
	margin-bottom: -30px;
}

/* Cut vertical padding on signup page in half */
.cut-vertical-padding {
	padding-top: 20px;
    padding-bottom: 20px;
}

/* Move checkbox label over and make font smaller */
.checkbox-label {
	font-size: 12px;
	margin-left: 5px;
}

/* Table used to display topics for a given subject */
.topic-table {
	margin: 10px auto;
}

/* Underline rows in topic table */
.content-table tr {
	border-bottom: 1px solid #DDD;
}

/* Special settings to style links in content table */
.content-table a, .content-holder a {
	color:#58427C;
}
.content-table a:hover, .content-holder a:hover, .question-answers li:hover {
	text-shadow:0 0 1px #58427C;
	text-decoration: none;
	cursor: pointer;
}

/* Surround with a rounded border */
.content-holder {
	border: 1px solid #DDD;
	border-radius:25px;
	padding-bottom:10px;
	margin-bottom:10px;
}

/* Change color */
.green {
	color:green !important;
}
.yellow {
	color:yellow !important;
}
.dark-red {
	color:#C00 !important;
}
.white {
	color:#FFF !important;
}

/* Shift over 5 pixels */
.shift-right-5 {
	margin-left: 5px;
	margin-right:-5px;
}
.shift-left-5 {
	margin-left: -5px;
	margin-right: 5px;
}

/* Add 10px margins to each side */
.side-margins-10 {
	margin-left:10px;
	margin-right:10px;
}


/* Detail */
.detail {
	font-weight: bold;
	padding-left:5px;
}

/* Style bread crumbs displayed on pages */
.bread-crumbs {
	margin-top: -20px;
	margin-left: -15px;
}

/* Div containing feedback for user added content */
.feedback {
	text-align: right;
	font-size: 18px;
	margin-top:10px;
}

/* Style embedded video */
.video-embed {
	width: 640px;
	height: 480px;
	padding-top: 25px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

/* Div containing question answers */
.question-answers {
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	padding-left: 35%;
	margin-bottom: 25px;
}

/* Surround with a rounded border */
.selected-answer {
	border-radius:10px;
	background-color: green;
	color: #FFF;
	padding:5px;
}

/* Topic not available */
.not-available {
   color: #AAA; 
}

/* Style disabled input box */
input[disabled] {
    border: none;
    background: #FFF;
}

/* Style div containing a table */
.table-wrapper {
	font-size:18px;
	margin-left:25%;
	margin-right:25%;
}
.table-wrapper > table > tbody > tr > td {
	padding-bottom: 1px;
}

/* Span containing account info title */
.title {
	margin-bottom:10px;
	margin-right: 10px;
	font-weight: bold;
}

/* Div containing number of questions remaining in a test */
.questions-remaining {
	text-align: right;
	font-size: 16px;
}

/* Div containing a discussion question on discussion board */
.discussion-board-question {
	padding: 15px;
}
.discussion-board-question>a {
	font-size: 16px;
	text-decoration: underline;
}
.discussion-board-question>a:hover {
	text-decoration:underline;
}
.discussion-board-question>.timestamp {
	text-align:right;
}
.discussion-board-question>.author {
	margin-left: 10px;
}

/* Paragraph describing discussion question on discussion-question page */
.discussion-question {
	font-size: 16px;
}
.discussion-question {
	width:100%;
}

/* Span containing X glyphicon for removing posts / comments from discussion board */
.remove-button {
	color: #C00;
	font-size: 24px;
	margin-left: 50px;
}
.remove-button:hover {
	text-shadow: 0 0 1px #C00;
}
.del-button-holder {
	text-align:right;
	margin-top: -20px;
	margin-right: 20px;
	margin-bottom: -10px;
}
.del-button-holder-ques {
    text-align:right;
    margin-top: -30px;
    margin-right: 30px;
    margin-bottom: -10px;
}

/* Display cursor when hovering over */
.hoverHand {
	cursor:pointer;
}

/* Wrapper for subTopicTable */
.subTopicTableWrapper {
	padding-top: 10px;
}
.subTopicTableWrapper > table > tbody > tr > td {
    padding-bottom: 1px;
}